@media only screen and (max-width: 750px) {
  .topBar {
    display: none !important;
  }
  .menu__items {
    display: none !important;
  }
  .slider .slider__advertise {
    display: none !important;
  }
  .brands__item {
    overflow-x: hidden;
  }
  .category {
    display: grid !important;
  }
  .productSlideShow__products__item {
    width: 65% !important;
    display: none !important;
  }
  .productSlideShow__products__item.mobileShow {
    display: block !important;
  }
  .offerProducts__productSlideShow__item {
    display: none !important;
  }
  .offerProducts__productSlideShow__item.mobileShow {
    display: block !important;
  }
  .offerProducts {
    display: grid !important;
  }
  .offerProducts__descriptiopn {
    width: auto !important;
    padding: 15px !important;
  }
  .offerProducts__productSlideShow {
    width: auto !important;
    margin: 30px auto !important;
  }
  .bannerSection, .bannerSection3, .bannerSection2 {
    display: grid !important;
    gap: 15px;
  }
  .bannerSection img, .bannerSection3 img, .bannerSection2 img {
    width: 100% !important;
  }
  footer {
    position: unset !important;
    margin-top: 25px !important;
    background-color: transparent !important;
  }
  footer .footerConten {
    position: unset !important;
    display: grid !important;
    width: unset !important;
  }
  footer .footerConten .aboutUs {
    width: auto !important;
  }
  footer .footerConten .aboutUs .socialIcons {
    justify-content: space-between;
  }
  footer .footerConten .usefulLink {
    width: unset !important;
    justify-content: unset !important;
  }
  footer .footerConten .trustSection {
    width: unset !important;
    display: grid;
  }
}
@font-face {
  font-family: "peyda";
  src: url(./Fonts/Peyda-Black.ttf);
  font-weight: black;
}
@font-face {
  font-family: "peyda";
  src: url(./Fonts/Peyda-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "peyda";
  src: url(./Fonts/Peyda-ExtraBold.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "peyda";
  src: url(./Fonts/Peyda-Medium.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "peyda";
  src: url(./Fonts/Peyda-SemiBold.ttf);
  font-weight: 400;
}
* {
  direction: rtl;
  font-family: "peyda";
}

body {
  margin: 0px !important;
}

.topBar {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topBar__searchBar {
  width: 70%;
  text-align: center;
}
.topBar__searchBar__area {
  display: flex;
  align-items: center;
  width: 60%;
  margin: auto;
  height: 40px;
  background-color: #F2F3F2;
  border-radius: 14.5px;
}
.topBar__searchBar__area img {
  height: 50%;
  margin: 0 10px;
}
.topBar__searchBar__area input {
  height: 100%;
  width: 90%;
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.topBar__searchBar__area input:focus-visible {
  outline: none;
}
.topBar__logo {
  width: 15%;
  text-align: center;
}
.topBar__icons {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.menu {
  margin: 30px 15px;
}
.menu__items {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.menu__items span {
  cursor: pointer;
}
.menu__items span:hover {
  color: #6342E8;
}

.slider {
  margin: 0 15px;
  position: relative;
}
.slider__image img {
  width: 100%;
}
.slider__advertise {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #F1F4FB;
  border-radius: 35px;
  padding: 20px;
}
.slider__advertise__item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  border-bottom: 1.5px solid rgba(99, 66, 232, 0.14);
}
.slider__advertise__item:last-child {
  border: none;
}
.slider__advertise__item__content {
  display: grid;
}
.slider__advertise__item__content .productName {
  font-weight: 200;
  color: #040404;
}
.slider__advertise__item__content .productPrice {
  font-weight: 200;
  color: #A1A1A1;
}

.brands {
  margin: 35px 15px;
}
.brands__item {
  display: flex;
  justify-content: space-between;
}

.category {
  margin: 120px 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.category__item img {
  width: 80% !important;
}

.productSlideShow {
  margin: 0 15px;
}
.productSlideShow__topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(99, 66, 232, 0.2);
  padding-bottom: 20px;
}
.productSlideShow__topBar .title {
  font-weight: 200;
}
.productSlideShow__topBar .showMore {
  font-weight: bold;
  color: #6342E8;
  border-radius: 12px;
  background-color: rgba(99, 66, 232, 0.08);
  border: 1px solid #6342E8;
  padding: 10px 20px;
  cursor: pointer;
}
.productSlideShow__products {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  text-align: center;
  align-items: center;
}
.productSlideShow__products__item {
  width: calc(20% - 45px);
}
.productSlideShow__products__item .image {
  background-color: #F1F4FB;
  border-radius: 35px;
  padding: 30px;
  display: grid;
  gap: 15px;
  justify-content: center;
}
.productSlideShow__products__item .content {
  margin: 30px 0;
  display: grid;
  gap: 15px;
}
.productSlideShow__products__item .content__price {
  color: #A1A1A1;
}

.offerProducts {
  background-color: #6342E8;
  display: flex;
  margin: 60px 0;
}
.offerProducts__descriptiopn {
  width: 30%;
  padding: 40px;
}
.offerProducts__descriptiopn .title {
  font-size: 35px;
  color: #FFFFFF;
}
.offerProducts__descriptiopn .images {
  display: flex;
}
.offerProducts__descriptiopn .images img {
  height: fit-content;
  align-self: center;
}
.offerProducts__descriptiopn .timeRemind {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 15px 0;
}
.offerProducts__descriptiopn .timeRemind .timeShow {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  padding: 10px;
}
.offerProducts__descriptiopn .timeRemind .space {
  margin: 0 15px;
}
.offerProducts__productSlideShow {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  text-align: center;
  align-items: center;
}
.offerProducts__productSlideShow__item .image {
  background-color: #F1F4FB;
  border-radius: 35px;
  padding: 30px;
  display: grid;
  gap: 15px;
  justify-content: center;
}
.offerProducts__productSlideShow__item .content {
  margin: 30px 0;
  display: grid;
  gap: 15px;
}
.offerProducts__productSlideShow__item .content__name {
  color: white;
}
.offerProducts__productSlideShow__item .content__price {
  color: #C7C7C7;
}

.bannerSection, .bannerSection3, .bannerSection2 {
  display: flex;
  justify-content: space-between;
  margin: 40px 15px;
}
.bannerSection img, .bannerSection3 img, .bannerSection2 img {
  width: 30%;
}

.bannerSection2 img {
  width: 50%;
}

.bannerSection3 img {
  width: 100%;
}

footer {
  height: 150px;
  background-color: rgba(99, 66, 232, 0.2);
  position: relative;
  margin-top: 250px;
}
footer .footerConten {
  background-color: #6342E8;
  color: white;
  width: 90%;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  top: -190px;
  right: 3.5%;
  display: flex;
}
footer .footerConten h2 {
  font-size: 15px;
  font-weight: 200;
}
footer .footerConten .aboutUs {
  display: grid;
  width: 40%;
  gap: 15px;
}
footer .footerConten .aboutUs .socialIcons {
  align-items: center;
  display: flex;
  gap: 20px;
}
footer .footerConten .usefulLink {
  width: 20%;
  justify-content: center;
  display: grid;
}
footer .footerConten .trustSection {
  width: 20%;
  text-align: center;
}
footer .footerConten .trustSection img {
  margin: 20px 0;
}

/*# sourceMappingURL=main.css.map */
